html, body {height:100%; overflow:hidden;}


@font-face {
    font-family: 'Silverado';
    src: url('../font/svcm____-webfont.woff2') format('woff2'),
         url('../font/svcm____-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#label_text {
  position: absolute;
}

#container {
  position: relative;
  top: 0;
  left: 0;
  height:100%;
  overflow:hidden;
}

#back {
    /* display:none; */
    position: absolute;
    top: -15%;
    left: 0;
    /* height: 100%; */
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    /* filter: brightness(50%); */
    opacity: .7;
}

#img_back {
    /* display:none; */
    position: absolute;
    top: 0;
    left: 8.5%;
    /* height: 100%; */
    width: 82%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    border: 0px solid #000;
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.8);
    /* box-shadow: inset 9% 9% 9% black; */
}

#hunt_back {
    /* display:none; */
    position: absolute;
    top: 30%;
    left: 0;
    /* height: 100%; */
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    /* border: 0px solid #000;
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.8); */
    /* box-shadow: inset 9% 9% 9% black; */
}

#hunt_icon {
    /* display:none; */
    position: absolute;
    top: 20%;
    left: 50%;
    /* height: 30%; */
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    margin-left: -15%;
    /* margin-top: -15%; */
    /* box-shadow: inset 9% 9% 9% black; */
}

#label_text {
  color: #ffffff;
  text-shadow: 3px 2px #333333;
  overflow: visible;
  visibility: show;
  z-index: 1;
  font-size: 3em;
  font-weight:500;
  text-align: center;
  position: absolute;
  top: 75%;
  left: 50%;
  width: 400px;
  height: 50px;
  margin-left: -200px;
  margin-top: -25px;
  /* font-family: Roboto; */
  font-family: 'Silverado';
  /* transform: translate(-50%, -50%); */
  cursor: default;
}

#label_text.index {
  top: 50%;
  left: 50%;
  width: 600px;
  height: 50px;
  margin-left: -300px;
  margin-top: -25px;
  font-size: 5em;
  color: #888
}

#img {
    /* display:none; */
    position: absolute;
    /* top: 0;
    left: 0; */
    /* height: 90%; */
    width: 80%;
    display: block;
    top: 0;
    left: 9.8%;
    /* margin-right: auto; */
    /* align: center; */
    /* top: 75%;
    left: 40%; */
    z-index: 2;
    box-shadow: 10px 10px 15px black;
}

#video {
    /* display:none; */
    position: absolute;
    /* top: 0;
    left: 0; */
    /* height: 90%; */
    width: 100%;
    display: block;
    top: 0;
    left: 0%;
    /* margin-right: auto; */
    /* align: center; */
    /* top: 75%;
    left: 40%; */
    z-index: 3;
    box-shadow: 10px 10px 15px black;
}

table {
  /* display: block; */
  position: absolute;
  top: 15%
}


tr {
  position: relative;
}

tr.spaceUnder>td {
  padding-bottom: 5em;
}

.button {
    background-color: Transparent;
    color: #444;
    overflow: visible;
    visibility: show;
    z-index: 5;
    font-size: 2em;
    font-weight:500;
    text-align: center;
    position: absolute;
    top: 94%;
    left: 98%;
    width: 100px;
    height: 50px;
    line-height: 50px;
    margin-left: -100px;
    margin-top: -25px;
    padding: 15px 25px;
    /* font-family: Roboto; */
    font-family: 'Silverado';
    cursor: pointer;
    border: none;
    opacity: 0.3;
    /* transform: translate(-50%, -50%); */
    /* background-color: green; */
}

#back_button {
    left: 6%;
    background-color: Transparent;
    color: #444;
    overflow: visible;
    visibility: show;
    z-index: 5;
    font-size: 2em;
    font-weight:500;
    text-align: center;
    position: absolute;
    top: 85%;
    text-decoration: none;
    /* left: 98%; */
    width: 100px;
    height: 50px;
    line-height: 50px;
    margin-left: -100px;
    margin-top: -25px;
    padding: 15px 25px;
    /* font-family: Roboto; */
    font-family: 'Silverado';
    cursor: pointer;
    border: none;
    opacity: 0.3;
    /* transform: translate(-50%, -50%); */
    /* background-color: green; */
}

#back_button:hover {
  /* background-color: #fff; */
  color: yellow;
  text-shadow: 0 0 20px #cccc00;
  }

.button:hover {
  /* background-color: #fff; */
  color: yellow;
  text-shadow: 0 0 20px #cccc00;
  }

.button.active {
  /* background-color: #bbb; */
  color: white;
  }

.button_video {
  background-color: Transparent;
  color: #444;
  overflow: visible;
  visibility: show;
  z-index: 6;
  font-size: 4em;
  font-weight:500;
  text-align: center;
  position: absolute;
  top: 94%;
  left: 50%;
  width: 200px;
  height: 100px;
  line-height: 100px;
  margin-left: -100px;
  margin-top: -50px;
  padding: 15px 25px;
  /* font-family: Roboto; */
  font-family: 'Silverado';
  cursor: pointer;
  border: none;
  opacity: 0.9;
  /* transform: translate(-50%, -50%); */
  /* background-color: green; */
  transition:all .5s linear;
}

.button_video:hover {
  /* background-color: #fff; */
  color: yellow;
  text-shadow: 0 0 20px #cccc00;
  }

  .fadeOut{
    opacity:0.2;
  }



#hunt_desc_text {
  color: #aaa;
  text-shadow: 3px 2px #222;
  overflow: visible;
  visibility: show;
  z-index: 1;
  font-size: 1.5em;
  font-weight:500;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  width: 500px;
  height: 50px;
  margin-left: -250px;
  margin-top: -25px;
  /* font-family: Roboto; */
  font-family: 'Silverado';
  cursor: default;
  /* transform: translate(-50%, -50%); */
}

#quary_name {
  position: absolute;
  /* top: 50%; */
  /* text-align: center; */
  font-size:30px;
  font-weight:300;
  color: #555;
  text-decoration: none;
  display: block;
  width: 500px;
  height: 50px;
  font-family: 'Silverado';
  cursor: default;
  /* top: 50%;
  left: 50%; */
  /* margin-left: -150px; /* margin is -0.5 * dimension */
  /* margin-top: -25px; */ */
}

.quarry {
  position: absolute;
  /* top: 50%; */
  /* text-align: center; */
  font-size:30px;
  font-weight:200;
  color: #999;
  text-decoration: none;
  display: block;
  width: 150px;
  height: 50px;
  font-family: 'Silverado';
  cursor: pointer;
  /* top: 50%;
  left: 50%; */
  /* margin-left: -150px; /* margin is -0.5 * dimension */
  /* margin-top: -25px; */ */
}

.quarry:hover {
  /* background-color: #fff; */
  color: yellow;
  text-shadow: 0 0 30px #cccc00;
}

.start_showdown {
  color: #444;
  /* text-shadow: 3px 2px #333333; */
  overflow: visible;
  visibility: show;
  z-index: 1;
  font-size: 3em;
  font-weight:500;
  text-align: center;
  position: absolute;
  text-decoration: none;
  top: 85%;
  left: 50%;
  width: 400px;
  height: 50px;
  margin-left: -200px;
  margin-top: -25px;
  /* font-family: Roboto; */
  font-family: 'Silverado';
  /* transform: translate(-50%, -50%); */

}

.start_showdown:hover {
  /* background-color: #fff; */
  color: yellow;
  /* text-shadow: 0 0 20px #cccc00; */
}

.token {
  position:absolute;
  top: 41%;
  z-index:4;
  display: block;
}

#common.token {
  opacity: 0.5;
}

#common.token:hover {
  opacity: 0.8;
}

#lantern.token {
  opacity: 0.5;
}

#lantern.token:hover {
  opacity: 0.8;
}

#monster.token {
  z-index: 9;
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px #222);
}

#monster.token:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 1s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
}

#survivors.token {
  z-index: 10;
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px #222);
}

#survivors.token:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 3s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
}

#herb_gathering.token:hover  {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 1s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
}

#darkness.token {
  /* -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222); */
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

#darkness.token:hover {
  /* -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222); */
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  /* transition: all 1s ease;
  animation: pulse 1s; */
  /* animation-iteration-count: infinite; */

  /* animation: shake 1s;
  animation-iteration-count: infinite; */
}

#mineral_gathering.token:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    /* animation: shake 1s; */
    animation: shake 1s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
}

@keyframes shake {
    0% { transform: translate(1px, 0px) rotate(0deg); }
    10% { transform: translate(-1px, 0px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 0px) rotate(0deg); }
    40% { transform: translate(1px, 0px) rotate(1deg); }
    50% { transform: translate(-1px, 0px) rotate(-1deg); }
    60% { transform: translate(-3px, 0px) rotate(0deg); }
    70% { transform: translate(3px, 0px) rotate(-1deg); }
    80% { transform: translate(-1px, 0px) rotate(1deg); }
    90% { transform: translate(1px, 0px) rotate(0deg); }
    100% { transform: translate(1px, 0px) rotate(-1deg); }
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1.02);
  }
}
