#menu {
	position: absolute;
	top: 0;
	left: 0;
	height:100%;
	width:100%;
	background-color: #000;
	z-index: 98;
	display: block;
	overflow:none;
}

#menu-back {
	position: absolute;
	top: 0;
	left: 0;
	height:100%;
	width:100%;
	background-color: Transparent;
	z-index: 98;
	display: block;
	overflow:auto;
}

#menu_img {
	position: absolute;
	top: -10%;
	left: 0;
	width: 100%;
	display: block;
	opacity: .5;
}

#menu_item {
	position: absolute;
	text-align: center;
	font-size:1.8em;
	font-weight:300;
	color: #555555;
	text-decoration: none;
	display: block;
	width: 300px;
	height: 50px;
	font-family: 'Silverado';
	cursor: pointer;
	transition: color 0.3s, text-shadow 0.3s;
}


#menu_item:hover {
	color: #cccc00;
	text-shadow: 0 0 20px #cccc00;
}

#menu_item:click {
	color: #ffffff;
}


#menu-toggle-wrapper {
	position: fixed;
	top: 1%;
	right: 1%;
	width: 70px;
	height: 70px;
	z-index: 99;
	display: block;
}
#menu-toggle-wrapper #menu-toggle {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 30px;
	display: block;
	margin-left: -15px;
	width: 30px;
	height: 3px;
	background: #cccccc;
}
#menu-toggle-wrapper #menu-toggle:after,
#menu-toggle-wrapper #menu-toggle:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	background: #cccccc;
	right: 1%;
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-ms-transform-origin: center center;
	-o-transform-origin: center center;
	transform-origin: center center;
}
#menu-toggle-wrapper #menu-toggle:before {
	top: -8px;
}
#menu-toggle-wrapper #menu-toggle:after {
	bottom: -8px;
}
#menu-toggle-wrapper.active #menu-toggle {
	background: 0 0;
}
#menu-toggle-wrapper.active #menu-toggle:after {
	-webkit-transform: rotate(-45deg) translate(2px, -8px);
	-moz-transform: rotate(-45deg) translate(3px, -8px);
	-ms-transform: rotate(-45deg) translate(3px, -8px);
	-o-transform: rotate(-45deg) translate(3px, -8px);
	transform: rotate(-45deg) translate(3px, -8px);
}
#menu-toggle-wrapper.active #menu-toggle:before {
	-webkit-transform: rotate(45deg) translate(4px, 9px);
	-moz-transform: rotate(45deg) translate(3px, 8px);
	-ms-transform: rotate(45deg) translate(3px, 8px);
	-o-transform: rotate(45deg) translate(3px, 8px);
	transform: rotate(45deg) translate(3px, 8px);
}
#menu-toggle-wrapper #menu-toggle,
#menu-toggle-wrapper #menu-toggle:after,
#menu-toggle-wrapper #menu-toggle:before {
	-webkit-transition: all 0.3s cubic-bezier(0.585, -0.6, 0.43, 1.65);
	-moz-transition: all 0.3s cubic-bezier(0.585, -0.6, 0.43, 1.65);
	-ms-transition: all 0.3s cubic-bezier(0.585, -0.6, 0.43, 1.65);
	-o-transition: all 0.3s cubic-bezier(0.585, -0.6, 0.43, 1.65);
	transition: all 0.3s cubic-bezier(0.585, -0.6, 0.43, 1.65);
}
#menu-toggle-wrapper:hover #menu-toggle:before {
	top: -6px;
}
#menu-toggle-wrapper:hover #menu-toggle:after {
	bottom: -6px;
}
#menu-toggle-wrapper.active:focus #menu-toggle:after,
#menu-toggle-wrapper.active:hover #menu-toggle:after {
	bottom: -8px;
}
#menu-toggle-wrapper.active:focus #menu-toggle:before,
#menu-toggle-wrapper.active:hover #menu-toggle:before {
	top: -8px;
}

#severe {
	position: absolute;
	top: 10%;
	right: 2.1%;
	display: block;
	width: 2%;
	z-index: 89;
	background: #333;
	-webkit-box-shadow: 0 0 20px #333;
	box-shadow: 0 0 20px #333;
	opacity: 0.7;
}

#severe.active {
	outline: 0.2rem solid #cccc00;
	-webkit-box-shadow: 0 0 40px #cccc00;
	box-shadow: 0 0 40px #cccc00;
}

#severe-background {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	overflow:auto;
	z-index: 87;
	display: none;
}

#severe-table {
	right:6%;
	top: 0%;
	height: 100%;
	position:absolute;
	z-index: 88;
	display:block;
	-webkit-box-shadow: 0 0 80px #000;
	box-shadow: 0 0 80px #000;
}

#reference {
	position: absolute;
	top: 2%;
	left: 2.1%;
	display: block;
	width: 2%;
	z-index: 89;
	filter: drop-shadow(0 0 20px #333);
	opacity: 0.4;
}

#reference.active {
	/* -webkit-box-shadow: 0 0 40px #cccc00; */
	/* box-shadow: 0 0 40px #cccc00; */ */
	filter: drop-shadow(0 0 60px #cccc00);
}

/* #reference-window-selectized {
	min-width: 106px;
	width: auto !important;
} */

#reference-window-back0 {
	left:5%;
	top: 2%;
	height: 95%;
	width: 33%;
	position:absolute;
	z-index: 84;
	display:block;
	-webkit-box-shadow: 0 0 80px #000;
	box-shadow: 0 0 80px #000;
	overflow: visible;
	--borderWidth: 1em;
	border-radius: var(--borderWidth);
	border: 0.2rem solid #555;
}

#reference-window-back {
	left:0%;
	top: 5%;
	height: 92.5%;
	width: 100%;
	position:absolute;
	z-index: 85;
	display:block;
	overflow:auto;
}

#reference-window-back-img {
	left:0%;
	top: 0%;
	height: 100%;
	width: 100%;
	position:absolute;
	z-index: 83;
	display:block;
	--borderWidth: 1em;
	border-radius: var(--borderWidth);
	-webkit-box-shadow: 0 0 80px #000;
	box-shadow: 0 0 80px #000;
	background: #0A0A0A;
	overflow:auto;
}

div#reference-window-back0 .selectize-control {
	top: -4px;
	margin: 8px 4px;
}

#reference-window-keypad {
	position: absolute;
	right: -630px;
	display: block;
	padding: 20px;
	width: 575px;
	color: white;
	font-size: 2em;
	top: -3px;
	background: #222;
	border: 3px solid #666;
	border-radius: 15px;
}

.refpad--row:nth-of-type(2) { margin-left: 30px; }
.refpad--row:nth-of-type(3) { margin-left: 50px; }
.refpad--row:nth-of-type(4) { margin: 20px 0 0 50px; }

.refpad__pad {
	display: inline-block;
	margin: 5px;
	padding: 3px 15px 0 15px;
	opacity: .7;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #ededed;
	transition: 200ms ease-in-out background;
	user-select: none;
	font-family: 'Silverado';
	text-transform: capitalize;
	font-size: 0.9em;
	line-height: 1.38;
	box-sizing: border-box;
}
.refpad__pad:hover {
	background: #ffffff42;
	opacity: 1;
}
.refpad__pad.-random {
	margin-left: 90px;
	text-transform: lowercase;
	font-style: italic;
	opacity: 0.4;
}

#glossary-symbols {
	left: 5%;
	top: 16%;
	width: 90%;
	position:absolute;
	z-index: 86;
	display:block;
}

#reference-window {
	z-index: 83;
	display:block;
	position:absolute;
}

#reference-data {
	position:relative;
	z-index: 86;
	display:block;
	color: #cacaca;
	font-size: 1.3em;
	left: 3%;
	width: 95%;
	overflow:auto;
	font-family: 'Silverado';
}

#reference-image {
	position:relative;
	z-index: 86;
	display:block;
	overflow:auto;
	width:100%;
	--borderWidth: 0.8em;
	border-radius: var(--borderWidth);
}

#reference-window-background {
	left:0%;
	top: 0%;
	height: 100%;
	width: 100%;
	position:absolute;
	z-index: 84;
	display:block;
	background: #030303;
	opacity: 0.6;
}

#about_text {
	transition: drop-shadow 1s ease;
	background-color: Transparent;
	color: #888;
	overflow: visible;
	visibility: show;
	z-index: 90;
	font-size: 2em;
	font-weight:500;
	display:block;
	position: absolute;
	top: 1%;
	left: 1%;
	width: 5%;
	line-height: 50px;
	padding: 15px 25px;
	font-family: 'Silverado';
	cursor: pointer;
	border: none;
	opacity: 0.1;
}

#about_text:hover {
	color: yellow;
}

#about_text.active {
	-webkit-filter: drop-shadow(0 0 80px #cccc00);
	filter: drop-shadow(0 0 80px #cccc00);
}

#about_p {
	font-family: 'Silverado';
	display:block;
	color: #888;
	font-size: 1.5em;
	position: relative;
	width: 86%;
	left: 6%
}

#about_header {
	font-family: 'Silverado';
	display:block;
	color: #ddd;
	text-align: center;
	font-size: 2em;
	font-weight:500;
}

#esc-menu {
  /* width:30%; */
  left:33%;
  top: 40%;
  height: 20%;
  width: 34%;
  position:absolute;
  z-index: 96;
  display:block;
  -webkit-box-shadow: 0 0 80px #000;
        box-shadow: 0 0 80px #000;
  overflow:hidden;
  --borderWidth: 1em;
  border-radius: var(--borderWidth);
  border: 0.2rem solid #555;
}

#esc-menu {
	display:block;
	position: absolute;
	overflow: visible;
}

#esc-text {
	font-family: 'Silverado';
	display:block;
	overflow: visible;
  visibility: show;
	position: absolute;
	background-color: Transparent;
	color: #555;
	text-align: center;
	text-shadow: 0 0 10px #000;
	font-size: 2em;
	font-weight:500;
	width: 100%;
	left: 0;
	/* height: 20% */
	top: 15%;
	z-index: 97;
	cursor: default;
}

#esc-yes {
	font-family: 'Silverado';
	display:block;
	position: absolute;
	background-color: Transparent;
	color: #555;
	text-align: center;
	box-shadow: 0 0 10px #000;
	font-size: 2em;
	font-weight:500;
	width: 30%;
	left: 13%;
	height: 20%;
	top: 65%;
	--borderWidth: 1em;
  border-radius: var(--borderWidth);
  border: 0.2rem solid #555;
	z-index: 97;
	cursor: pointer;
	transition: color 1s, box-shadow 1s;
}

#esc-yes:hover {
	color: #cc0;
	box-shadow: 0 0 20px #cccc00;
}

#esc-no {
	font-family: 'Silverado';
	display:block;
	position: absolute;
	background-color: Transparent;
	color: #555;
	text-align: center;
	box-shadow: 0 0 10px #000;
	font-size: 2em;
	font-weight:500;
	width: 30%;
	left: 57%;
	height: 20%;
	top: 65%;
	--borderWidth: 1em;
  border-radius: var(--borderWidth);
  border: 0.2rem solid #555;
	z-index: 97;
	cursor: pointer;
	transition: color 1s, box-shadow 1s;
}

#esc-no:hover {
	color: #cc0;
	box-shadow: 0 0 20px #cccc00;
}

#esc-back {
	display:block;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 95;
	--borderWidth: 1em;
	border-radius: var(--borderWidth);
}
