html, body {height:100%; width: 100%; top:0; left:0; border-width:0; overflow:hidden;scrollbar-width: 0;scroll-behavior: smooth;}




@font-face {
    font-family: 'Silverado';
    src: url('../font/svcm____-webfont.woff2') format('woff2'),
         url('../font/svcm____-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* #label_text {
  position: absolute;
} */

#container {
  position: absolute;
  display:block;
  top: 0;
  left: 0;
  height:100%;
  width:100%;
  overflow:hidden;
}

#back {
    position: absolute;
    top: -15%;
    height: 130%;
    left: 0;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    opacity: .7;
}

#img_back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto;
    /* margin-top: 0 auto; */
    max-height: 100%;
    max-width: 100%;
    display: block;
    z-index: 0;
    border: 1px solid #000;
    box-shadow: 0 0 10px 8px #000;
}

#hunt_back {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    display: block;
    z-index: 0;
    display:none;
    box-shadow: 0 0 20px #000;
}

#hunt_icon {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    margin-left: -15%;
}

#label_text {
  color: #ffffff;
  text-shadow: 0 0 5px #000;
  overflow: visible;
  visibility: show;
  z-index: 1;
  font-size: 3em;
  font-weight:500;
  text-align: center;
  position: absolute;
  top: 75%;
  left: 50%;
  width: 400px;
  height: 50px;
  margin-left: -200px;
  margin-top: -25px;
  font-family: 'Silverado';
  cursor: default;
}

#label_text.index {
  top: 45%;
  left: 50%;
  width: 600px;
  height: 50px;
  margin-left: -300px;
  margin-top: -25px;
  font-size: 5em;
  color: #888
}

#img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-height: 98%;
    max-width: 100%;
    display: block;
    --borderWidth: 2em;
    border-bottom-left-radius: var(--borderWidth);
    border-bottom-right-radius: var(--borderWidth);
    z-index: 25;
    border: 1px solid #000;
    box-shadow: 0 0 10px 8px black;
}

#video {
    position: absolute;
    height: 100%;
    display: block;
    top: 0;
    /* left: 0%; */
    margin: 0 auto;
    z-index: 20;
    box-shadow: 10px 10px 15px black;
}

table {
  position: absolute;
  top: 15%
}


tr {
  position: relative;
}

tr.spaceUnder>td {
  padding-bottom: 5em;
}

.button {
    background-color: Transparent;
    color: #888;
    overflow: visible;
    visibility: show;
    z-index: 96;
    font-size: 2em;
    font-weight:500;
    text-align: center;
    position: absolute;
    top: 94%;
    left: 98%;
    width: 100px;
    height: 50px;
    line-height: 50px;
    margin-left: -100px;
    margin-top: -25px;
    padding: 15px 25px;
    font-family: 'Silverado';
    cursor: pointer;
    border: none;
    opacity: 0.5;
}

#back_button {
    left: 0.5%;
    background-color: Transparent;
    color: #888;
    overflow: visible;
    visibility: show;
    z-index: 93;
    font-size: 1em;
    font-weight:500;
    text-align: center;
    position: absolute;
    top: 94%;
    text-decoration: none;
    width: 7%;
    font-family: 'Silverado';
    cursor: pointer;
    border: none;
    opacity: 0.5;
    display: flex;
    align-items: center;
}
#back_button > svg {
  margin-right: .5em;
  height: 1.15em;
  fill: #ddd;
  position: relative;
  top: -1px;
}

#back_button:hover {
  color: yellow;
  }

.button:hover {
  color: yellow;
  }

.button.active {
  color: white;
  }

.button_video {
  background-color: Transparent;
  color: #444;
  overflow: visible;
  visibility: show;
  z-index: 6;
  font-size: 4em;
  font-weight:500;
  text-align: center;
  position: absolute;
  top: 90%;
  left: 50%;
  width: 200px;
  height: 100px;
  line-height: 100px;
  margin-left: -100px;
  margin-top: -50px;
  padding: 15px 25px;
  font-family: 'Silverado';
  cursor: pointer;
  border: none;
  opacity: 0.9;
  transition:color 0.5s, text-shadow 0.5s;
}

.button_video:hover {
  color: yellow;
  text-shadow: 0 0 10px yellow;
  }

  .fadeOut{
    opacity:0.2;
  }

#hunt_desc_text {
  color: #aaa;
  text-shadow: 3px 2px #222;
  overflow: visible;
  visibility: show;
  z-index: 1;
  font-size: 1.5em;
  font-weight:500;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  width: 500px;
  height: 50px;
  margin-left: -250px;
  margin-top: -25px;
  font-family: 'Silverado';
  cursor: default;
}

#quary_name {
  position: absolute;
  font-size:30px;
  font-weight:300;
  color: #555;
  text-decoration: none;
  display: block;
  width: 500px;
  height: 50px;
  font-family: 'Silverado';
  cursor: default;
}

.quarry {
  position: absolute;
  font-size:30px;
  font-weight:200;
  color: #999;
  text-decoration: none;
  display: block;
  width: 150px;
  height: 50px;
  font-family: 'Silverado';
  cursor: pointer;
}

.quarry:hover {
  color: yellow;
}

.start_showdown {
  color: #444;
  overflow: visible;
  visibility: show;
  z-index: 1;
  font-size: 3em;
  font-weight:500;
  text-align: center;
  position: absolute;
  text-decoration: none;
  top: 85%;
  left: 50%;
  width: 400px;
  height: 50px;
  margin-left: -200px;
  margin-top: -25px;
  font-family: 'Silverado';
}

.start_showdown:hover {
  color: yellow;
}

.token {
  position:absolute;
  top: 41%;
  z-index:4;
  display: block;
}

#common.token {
  opacity: 0.5;
}

#common.token:hover {
  opacity: 0.8;
}

#lantern.token {
  opacity: 0.5;
}

#lantern.token:hover {
  opacity: 0.8;
}

#monster.token {
  z-index: 6;
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px #222);
}

#monster.token:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 1s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
}

#survivors.token {
  z-index: 7;
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px #222);
}

#survivors.token:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 3s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
}

#herb_gathering.token:hover  {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 1s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
    filter: drop-shadow(0 0 5px #660);
}

#darkness.token {
  /* -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222); */
  opacity: 0;
  filter: brightness(100%);
  transition: filter 1.0s ease, opacity 1.0s;
}

#darkness.token:hover {
  /* -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222); */
  filter: brightness(60%);
  opacity: 1.0;
  /* transition: all 1s ease;
  animation: pulse 1s; */
  /* animation-iteration-count: infinite; */

  /* animation: shake 1s;
  animation-iteration-count: infinite; */
}

#mineral_gathering.token:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    /* animation: shake 1s; */
    animation: shake 1s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
    filter: drop-shadow(0 0 5px #660);
}

#sky_fishing.token:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    /* animation: shake 1s; */
    animation: shake 1s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
    filter: drop-shadow(0 0 5px #660);
}

#sky_fishing.token {
  filter: drop-shadow(0 0 5px #666);
}

#mineral_gathering.token {
  filter: drop-shadow(0 0 5px #666);
}

#herb_gathering.token {
  filter: drop-shadow(0 0 5px #666);
}

@keyframes shake {
    0% { transform: translate(1px, 0px) rotate(0deg); }
    10% { transform: translate(-1px, 0px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 0px) rotate(0deg); }
    40% { transform: translate(1px, 0px) rotate(1deg); }
    50% { transform: translate(-1px, 0px) rotate(-1deg); }
    60% { transform: translate(-3px, 0px) rotate(0deg); }
    70% { transform: translate(3px, 0px) rotate(-1deg); }
    80% { transform: translate(-1px, 0px) rotate(1deg); }
    90% { transform: translate(1px, 0px) rotate(0deg); }
    100% { transform: translate(1px, 0px) rotate(-1deg); }
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.005);
  }
  40% {
    transform: scale(1.01);
  }
  60% {
    transform: scale(1.015);
  }
  80% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1.01);
  }
}

#quary_popup {
  width:30%;
  left:34.5%;
  top: 10%;
  position:absolute;
  z-index: 9;
  --borderWidth: 1em;
  border-radius: var(--borderWidth);
  /* box-shadow: 0px 0px 1px 5000px rgba(0,0,0,0.8); */
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2), 0 2em 5em 0 rgba(0, 0, 0, 0.19);

}

#random_popup {
  width:60%;
  height:90%;
  left:19.5%;
  top: 2%;
  position:absolute;
  z-index: 9;

  overflow-y:scroll;
  overflow-x:none;

  font-size: 1.5em;
  /* font-weight: 100; */

  text-align: justify;
  display: block;
  cursor: default;

  color: #ddd;
  /* background:#FBFFFF; */
  /* opacity: 0.95; */
  /* margin-top:3em;
  margin-left:2em;
  margin-right:2em; */
  font-family: 'Silverado';
  /* -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  --borderWidth: 1em;
  border-radius: var(--borderWidth); */
  padding-right:0.5em;
  scrollbar-width: none;
}

#random_popup::-webkit-scrollbar {
        display: none;
    }

@keyframes blink {
       0% {
          -webkit-transform: scale(1);
          transform: scale(1);
      }
      20% {
         -webkit-transform: scale(0.9);
         transform: scale(0.9);
       }
       40% {
          -webkit-transform: scale(0.8);
          transform: scale(0.8);
       }
       60% {
           -webkit-transform: scale(0.6);
           transform: scale(0.6);
       }
       100% {
           -webkit-transform: scale(0.3);
           transform: scale(0.3);
       }
}

/* #quary_popup {
  transition: .3s ease-in;
    animation: blink 2s; */
    /* animation-iteration-count: infinite; */
    /* animation-direction: reverse;
} */

/* #quary_popup.hidden {
  transition: .3s ease-in;
  animation: blink 2s;
  animation-direction: normal;
} */

#quary_popup_back {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  overflow:auto;
  z-index: 8;
  display: none;
  opacity: 0.9;
  /* filter : alpha(opacity=90); */

}

/* .is-dimmed:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
} */

#hunt_event_title {
  font-size: 2em;
  color: #ddd;
}

#hunt_event_table {
  position: static;
  margin: auto;
  width:100%;
  float: left;
}

#hunt_event_text {
  position: static;
  margin: auto;
  display: block;
  width: 100%;
  padding-bottom: 0.5em;
  float: left;
}

#hunt_event_header {
  font-size: 2em;
  padding-bottom: 1em;
}

#hunt_event_header_row {
  padding-bottom: 2em;
  position: static;

  width:100%;
}

#hunt_event_row {
  padding-bottom: 0.5em;
  position: static;
  width:100%;
  /* display: none; */
}

#hunt_event_1st_cell {
  vertical-align: middle;
  position: static;
  font-weight: bold;
  text-align: дуае;
}

#hunt_event_cell {
  vertical-align: middle;
  position: static;
  text-align: left;
}

/*.re_value {
}*/

.re_key {
  transition: color 1s;
}

.re_key:hover {
  color: #cccc00;
}

#random_event_icon {
  z-index:9;
  position:absolute;
  width:6%;
  top:11%;
  /* top: 74%; */
  left:3.1%;
  opacity: 0.7;
}

#random_event_icon:hover {
  animation: shake 1s;
  animation-iteration-count: infinite;
  animation-delay: 0.3s;
}

#random_event_input {
  z-index:9;
  position:absolute;
  background:#444;
  color:#ddd;
  font-size: 1em;
  display:block;
  width:2.5%;
  top:21%;
  /* top: 84%; */
  left:4.75%;
  opacity: 0.7;
  border: 2px solid #555;
  --borderWidth: 1em;
  border-radius: var(--borderWidth);
  box-shadow: 3px 3px 3px 5px rgba(0,0,0,0.8);
  font-family: 'Silverado';
}

#input_container {
  z-index:9;

  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;

}

#random_event_input_big_text {
  position: absolute;
  font-size: 3em;
  text-align: center;
  width:60%;
  top:40%;
  left:20%;
  display: block;
  cursor: default;
  color: #ddd;
  font-family: 'Silverado';
}

#random_event_icon_big {
  position: absolute;
  width:12%;
  top:20%;
  left:44%;
  display: block;
}

#random_event_icon_big:hover {
  animation: shake 1s;
  animation-iteration-count: infinite;
  animation-delay: 0.3s;
}

#random_event_input_big {
  position:absolute;
  background:#444;
  color:#ddd;
  font-size: 4em;
  display:block;
  width:20%;
  top:50%;
  left:40%;
  opacity: 0.7;
  border: 2px solid #555;
  --borderWidth: 1em;
  border-radius: var(--borderWidth);
  box-shadow: 3px 3px 3px 5px rgba(0,0,0,0.8);
  font-family: 'Silverado';
}

.random_event_pad_wrapper {
	position: absolute;
	top: 62%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	opacity: .85;
	font-size: 3em;
	width: 100%;
}
.random_event_pad_wrapper__pad-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.random_event_pad_wrapper__pad {
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #ededed;
  height: 1em;
	opacity: .7;
	transition: 200ms ease-in-out background;
	padding: 0 17px;
	margin: 5px;
	user-select: none;
	font-family: 'Silverado';
	text-transform: capitalize;
}
.random_event_pad_wrapper__pad:hover {
	background: #ffffff42;
	opacity: 1;
}


#event_img_shadow {
  -webkit-filter: drop-shadow(5px 5px 5px #aaa);
  filter: drop-shadow(5px 5px 5px #aaa);
}

.srt {
  color: #ffffff;
  overflow: visible;
  visibility: show;
  z-index: 20;
  font-size: 2em;
  font-weight:500;
  text-align: center;
  position: absolute;
  top: 85%;
  left: 15%;
  width: 70%;
  /* margin: 0 auto; */
  /* height: 50px; */
  /* margin-left: -200px;
  margin-top: -25px; */
  /* font-family: Roboto; */
  font-family: 'Silverado';
  /* transform: translate(-50%, -50%); */
  cursor: default;
}

.campaign_element {
  position: relative;
  display: block;
  width: 20%;
  top: 0%;
  margin: 0 auto;
  z-index: 10;
  overflow: visible;
  transition:color 0.5s, text-shadow 0.5s, animation 0.5s;
  margin-top: 70px;
  margin-bottom: 70px;
  opacity: 0;
}

.campaign_label {
  position: static;
  display: block;
  font-family: 'Silverado';
  cursor: normal;
  color: #999;
  overflow: visible;
  visibility: show;
  z-index: 10;
  font-size: 1.5em;
  font-weight:500;
  margin: 0 auto;
  text-align: center;
  padding-top: 1em;
}

.campaign_image {
  position: static;
  margin: 0 auto;
  display: block;
  width: 50%;
  left: 20%;
  cursor: pointer;
  animation: glowing-image_5 3000ms infinite;
}

.campaign_image:hover {
  /* color: yellow; */
  text-shadow: 0 0 10px yellow;
  font-color: yellow;
  animation: glowing-image_4 3000ms infinite;
}

@keyframes glowing-image_4 {
	0% { filter: drop-shadow(0 0 20px #cc0); }
  30% { filter: drop-shadow(0 0 40px #cc0); }
  40% { filter: drop-shadow(0 0 10px #cc0); }
  70% { filter: drop-shadow(0 0 50px #cc0); }
  80% { filter: drop-shadow(0 0 70px #cc0); }
  /* 70% { filter: drop-shadow(0 0 10px #c4a300); } */
  100% { filter: drop-shadow(0 0 30px #cc0); }
}

@keyframes glowing-image_5 {
	0% {}
  30% { filter: drop-shadow(0 0 0.7px #cc0); }
  40% { filter: drop-shadow(0 0 1.5px #cc0); }
  50% { filter: drop-shadow(0 0 0.7px #cc0); }
  70% {}
  80% { filter: drop-shadow(0 0 0.7px #cc0); }
  90% { filter: drop-shadow(0 0 3px #cc0); }
  100% { filter: drop-shadow(0 0 1.5px #cc0); }
}

.gallery {
  position: relative;
  display: block;
  width: 30%;
  top: 57%;
  height: auto;
  margin: 0 auto;
  z-index: 9;
  overflow: visible;
}

#starvation_text {
  color:#cc0;
  font-size: 0.5em !important;
}
