<img id="hunt_icon" src="#"/>
<img id="hunt_back" usemap="#image-map" src="#"/>

<div class="hunt" id="label_text">
    The Hunt
</div>

<div class="hunt" id="hunt_desc_text">
</div>

<div class="hunt" id="sublabel_hunt_text">
</div>

<div class='hidden' id='random_event'></div>

<img class='hidden' id='quary_popup' src="#"/>

<div id='random_popup'></div>

<img id='random_event_icon' src="#"/>
<img id="quary_popup_back" src="#"/>
<div id="random_event_close">&#10006;</div>
<img id="starvation_popup_back" src="#"/>

<input id="random_event_input" style="text-align:center" type="number" NAME="--" min="0" max="99" size="1"
       maxlength="2">

<div id="input_container">
    <img id='random_event_icon_big' src="#"/>

    <div id="random_event_input_big_text">

    </div>

    <input id="random_event_input_big" style="text-align:center" type="number" NAME="--" min="0" max="99" size="1" maxlength="2">

    <div id="random_event_pad_wrapper" class="random_event_pad_wrapper">
        <div class="random_event_pad_wrapper__pad-row">
            <span class="random_event_pad_wrapper__pad" id="pad0"><img id="pad0-pic" style="height:100%;" src="#"/></span>
            <span class="random_event_pad_wrapper__pad" id="pad1">1</span>
            <span class="random_event_pad_wrapper__pad" id="pad2">2</span>
            <span class="random_event_pad_wrapper__pad" id="pad3">3</span>
            <span class="random_event_pad_wrapper__pad" id="pad4">4</span>
        </div>
        <div class="random_event_pad_wrapper__pad-row">
            <span class="random_event_pad_wrapper__pad" id="pad5">5</span>
            <span class="random_event_pad_wrapper__pad" id="pad6">6</span>
            <span class="random_event_pad_wrapper__pad" id="pad7">7</span>
            <span class="random_event_pad_wrapper__pad" id="pad8">8</span>
            <span class="random_event_pad_wrapper__pad" id="pad9">9</span>
        </div>
        <div class="random_event_pad_wrapper__pad-row">
            <span class="random_event_pad_wrapper__pad" id="padClear">&#8592;</span>
            <span class="random_event_pad_wrapper__pad" id="padSubmit"></span>
        </div>
    </div>
</div>

<a id="back_button" href='#'>
    <svg class="back_button__icon" enable-background="new 0 0 492 492" version="1.1" viewBox="0 0 492 492" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
        <path d="m464.34 207.42l0.768 0.168h-329.22l103.5-103.72c5.068-5.064 7.848-11.924 7.848-19.124s-2.78-14.012-7.848-19.088l-16.104-16.112c-5.064-5.064-11.812-7.864-19.008-7.864-7.2 0-13.952 2.78-19.016 7.844l-177.41 177.4c-5.084 5.084-7.864 11.856-7.844 19.06-0.02 7.244 2.76 14.02 7.844 19.096l177.41 177.41c5.064 5.06 11.812 7.844 19.016 7.844 7.196 0 13.944-2.788 19.008-7.844l16.104-16.112c5.068-5.056 7.848-11.808 7.848-19.008 0-7.196-2.78-13.592-7.848-18.652l-104.66-104.3h329.99c14.828 0 27.288-12.78 27.288-27.6v-22.788c0-14.82-12.828-26.6-27.656-26.6z"></path>
    </svg>
    <span class="back_button__text">Back</span>
</a>
